.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.auth-container {
  display: flex;
  max-width: 800px;
}

.auth-image {
  flex: 1;
  overflow: hidden;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-form {
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h3 {
  margin-bottom: 20px;
}

.auth-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  background-color: #d2a073;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #a97b53;
}

.auth-form .error {
  color: #ff0000;
  margin-top: 10px;
}

.auth-links {
  margin-top: 20px;
}

.auth-links p {
  margin-bottom: 10px;
}

.auth-links a {
  color: darkgoldenrod;
  text-decoration: none;
  font-weight: bold;
}

.auth-links a:hover {
  text-decoration: underline;
}